<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>Customer Service Terminal</Name>
  <Version>1.0.0</Version>
  <Title>Customer Service Terminal 安装程序</Title>
  <Publisher>CST</Publisher>
  <StartMenuDir>Customer Service Terminal</StartMenuDir>
  <TargetDir>@ApplicationsDirX64@/CST</TargetDir>
  <AdminTargetDir>@ApplicationsDirX64@/CST</AdminTargetDir>
  <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
  <AllowSpaceInPath>true</AllowSpaceInPath>
  <AllowRepositoriesForOfflineInstaller>false</AllowRepositoriesForOfflineInstaller>
</Installer>
